:host ::ng-deep {
    .container {
        height: 100vh;
        display: flex;
        padding: 20px 60px;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    .logocontainer {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .logo {
        height: 75px;
        width: 75px;
    }

    .LogoName {
        color: var(--secondary);
        font-family: Inter;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .welcomefont {
        color: var(--text-dark);
        text-align: center;
        font-family: Mukta;
        font-size: 36px;
        font-style: normal;
        font-weight: var(--font-weight-bold);
        line-height: normal;
        letter-spacing: 1.5px;
    }

    .logoandcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .containerLogin {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        flex: 1 0 0;
        align-self: stretch;
    }

    .p-inputtext {
        border-radius: 80px;
        border: 2px solid #D0D0D0;
        width: 100%;
    }

    .card {
        width: 70%;
    }

    .inputaccount {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .buttonLogin {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .p-button-rounded {
            background-color: var(--secondary);
            border-radius: 80px;
            font-size: 24px;
            width: 100%;
            font-family: Mukta;
            border: 0;
            height: 61px;
            letter-spacing: 2px;
            font-size: 20px;
        }

        .google {
            background-color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border: 2px solid #D0D0D0;

            &>.fontGoogle {
                font-size: 20px;
                color: var(--text-dark);
                letter-spacing: 2px;
                line-height: 1.0;
            }

            &>img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .signUp {
        font-family: Mukta;
        font-size: 20px;

        &>a {
            color: var(--secondary);
            font-weight: var(--font-weight-bold);
            cursor: pointer;
        }
    }
}