<div class="containerproject">
  <div class="form">
    <div class="left">
      <div class="part inputinfo">
        <div class="row">
          <p class="font">Name</p>
          <input type="text" class="input" />
        </div>
        <div class="row">
          <p class="font">Subject of</p>
          <select type="text" class="input" (change)="getSelectedValue($event)">
            <option *ngFor="let project of projects" [value]="project.id">
              {{ project.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <p class="font">Description</p>
          <textarea type="text" class="input description"></textarea>
        </div>
        <div class="row">
          <p class="font">HomePage</p>
          <input type="text" class="input" formControlName="homepage" />
        </div>
        <div class="row">
          <p class="font">Identifier</p>
          <input type="text" class="input" formControlName="identifier" />
        </div>
        <div class="row">
          <p class="font">Project Owner</p>
          <input type="text" class="input" />
        </div>

        <div class="row public">
          <p class="font">Public</p>
          <div class="public flex justify-content-center">
            <p-checkbox
              [(ngModel)]="checked"
              [binary]="true"
              inputId="binary"
            ></p-checkbox>
          </div>
        </div>
      </div>
      <div class="part checker">
        <div class="line">
          <div class="bar">Modules</div>
        </div>
        <div class="checkbox">
          <div class="rowcheck">
            <div class="check" *ngFor="let item of modulesChecked">
              <div class="field-checkbox">
                <p-checkbox
                  name="group"
                  [value]="item"
                  [(ngModel)]="selected"
                  [inputId]="item.key"
                ></p-checkbox>
                <label [for]="item.key">{{ item.title }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="bar">Trackers</div>
        </div>
        <div class="checkbox">
          <div class="rowcheck">
            <div class="check" *ngFor="let item of trackerChecked">
              <div class="field-checkbox">
                <p-checkbox
                  name="group"
                  [value]="item"
                  [(ngModel)]="selected"
                  [inputId]="item.key"
                ></p-checkbox>
                <label [for]="item.key">{{ item.title }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create">
    <div>
      <button class="createbtn">Update</button>
    </div>
  </div>
</div>
