:host ::ng-deep {

    .container {
        padding: 20px;
        font-family: mukta;
    }

    .form {

        display: grid;
        grid-template-columns: 50% 50%;
    }

    .right {
        padding: 30px 50px;
    }

    .left {
        padding: 30px 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    input {
        width: 310px;
        border-radius: var(--border-radius);
        color: black;
        opacity: 0.5;
        height: 30px;
    }

    .area {
        width: 310px;
        border-radius: var(--border-radius);
        color: black;
        border-width: 2px;
        opacity: 0.5;
        height: 30px;
    }

    .font {
        text-align: right;
        font-family: Mukta;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }

    .new {
        color: var(--text-dark);
        font-size: 28px;
        font-style: normal;
        font-weight: var(--font-weight-medium);
    }

    .column {
        display: flex;
        flex-direction: column;

        gap: 20px;

        &>.row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;


        }


    }




    .description {
        height: 200px;
        max-height: 200px;
        max-width: 310px;
        min-width: 310px;
        min-height: 50px;
    }

    .public {
        margin-right: 60%
    }

    p-checkbox {
        height: 30px;
        width: 30px;
        margin-left: 0%;
    }



    .columnRight {

        .bar {
            display: flex;
            width: 100%;
            align-items: center;
        }

        .bar::after {
            display: flex;
            content: "";
            flex-grow: 1;
            height: 1px;
            margin-left: 10px;
            background-color: black;
        }

        &>.checkbox {
            &>.rowcheck {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-gap: 20px;
                padding: 20px;

                &>.check {
                    display: flex;
                    gap: 0px;
                }
            }
        }
    }

    .rowbutton {
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

    .addButton {
        display: flex;
        flex-direction: row;

        &>.p-button-rounded {
            background-color: var(--secondary);
            border-radius: 80px;
            font-size: 24px;
            width: 100%;
            font-family: Mukta;
            border: 0;
            height: 61px;
            letter-spacing: 2px;
            font-size: 20px;
        }
    }
}