<div class="container">
  <div class="sideBar">
    <div style="
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
      ">
      <div class="option">
        <div (click)="gotToPage(item.routerLink)" class="option-logo" *ngFor="let item of this.options; let i =index"
          [ngClass]="{'action': this.index === i}" (click)="this.index = i">
          <i [class]=item.icon></i>
          <p>{{item.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
