<div class="container" [formGroup]="taskForm">
  <p class="new">New Task</p>
  <div class="form">
    <div class="left">
      <div class="part inputinfo">
        <div class="row">
          <p class="font">Name</p>
          <input type="text" class="input" formControlName="name" />
        </div>
        <div class="row">
          <p class="font">Description</p>
          <textarea
            type="text"
            class="input description"
            formControlName="description"
          ></textarea>
        </div>
      </div>
      <div class="part member">
        <input type="file" (change)="onFileSelected($event)" />
      </div>
    </div>
    <div class="right">
      <div class="part checker">
        <div class="line">
          <div class="bar">Additonal Atribute</div>
        </div>

        <div class="optionatribute">
          <div class="rowoption">
            <p class="fontoption">Piority</p>
            <select id="" class="inputoption select" formControlName="piority">
              <option value="low">Low</option>
              <option value="normal">Normal</option>
              <option value="high">High</option>
              <option value="urgent" selected>Urgent</option>
            </select>
          </div>
          <div class="rowoption">
            <p class="fontoption">Status</p>
            <select id="" class="inputoption select" formControlName="status">
              <option value="low">New</option>
              <option value="normal">In Progress</option>
              <option value="high">Review</option>
              <option value="urgent" selected>Done</option>
            </select>
          </div>
          <div class="rowoption">
            <p class="fontoption">Tracker</p>
            <select id="" class="inputoption select" formControlName="tracker">
              <option value="low">Task</option>
              <option value="normal">Issue</option>
              <option value="high">Bug</option>
            </select>
          </div>
          <div class="rowoption">
            <p class="fontoption">Assignee</p>
            <input type="text" class="inputoption" formControlName="assignee" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Start Date</p>
            <input
              type="text"
              class="inputoption"
              formControlName="startDate"
            />
          </div>
          <div class="rowoption">
            <p class="fontoption">Due Date</p>
            <input type="text" class="inputoption" formControlName="dueDate" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Duration</p>
            <input
              type="text"
              class="inputoption"
              formControlName="duration"
              (keypress)="numberOnly($event, 'duration')"
            />
          </div>
          <div class="rowoption">
            <p class="fontoption">Estimate</p>
            <input
              type="text"
              class="inputoption"
              formControlName="estimate"
              (keypress)="numberOnly($event, 'estimate')"
            />
          </div>
          <div class="rowoption">
            <p class="fontoption">Tags</p>
            <input type="text" class="inputoption" formControlName="tag" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create">
    <div>
      <button class="createbtn" (click)="createTask()">Create</button>
    </div>
    <div>
      <button class="cancelbtn" (click)="taskList()">Cancel</button>
    </div>
  </div>
</div>
