<div class="container">
  <p class="new">New Task</p>
  <div class="form">
    <div class="left">
      <div class="part inputinfo">
        <div class="row">
          <p class="font">Name</p>
          <input type="text" class="input" />
        </div>
        <div class="row">
          <p class="font">Description</p>
          <textarea type="text" class="input description"></textarea>
        </div>
      </div>
      <div class="part member">
        <div class="buttonmem">
          <button (click)="showDialog()">
            <i class="pi pi-plus"></i> Add Member
          </button>
          <button class="delete">Delete</button>
        </div>
        <div class="card">
          <p-table
            [value]="memTask"
            [scrollable]="true"
            scrollHeight="250px"
            [tableStyle]="{ 'min-width': '5rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>Name</th>
                <th>Role</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>
                  <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.role }}</td>
                <td [style]=""><i class="pi pi-trash"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="part checker">
        <div class="line">
          <div class="bar">Additonal Atribute</div>
        </div>

        <div class="optionatribute">
          <div class="rowoption">
            <p class="fontoption">Piority</p>
            <select id="" class="inputoption select">
              <option value="low">Low</option>
              <option value="normal">Normal</option>
              <option value="high">High</option>
              <option value="urgent" selected>Urgent</option>
            </select>
          </div>
          <div class="rowoption">
            <p class="fontoption">Status</p>
            <select id="" class="inputoption select">
              <option value="low">New</option>
              <option value="normal">In Progress</option>
              <option value="high">Review</option>
              <option value="urgent" selected>Done</option>
            </select>
          </div>
          <div class="rowoption">
            <p class="fontoption">Tracker</p>
            <select id="" class="inputoption select">
              <option value="low">Task</option>
              <option value="normal">Issue</option>
              <option value="high">Bug</option>
            </select>
          </div>
          <div class="rowoption">
            <p class="fontoption">Assignee</p>
            <input type="text" class="inputoption" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Start Date</p>
            <input type="text" class="inputoption" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Due Date</p>
            <input type="text" class="inputoption" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Duration</p>
            <input type="text" class="inputoption" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Estimate</p>
            <input type="text" class="inputoption" />
          </div>
          <div class="rowoption">
            <p class="fontoption">Tags</p>
            <input type="text" class="inputoption" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create">
    <div>
      <button class="createbtn">Create</button>
    </div>
    <div>
      <button class="cancelbtn" (click)="taskList()">Cancel</button>
    </div>
  </div>
</div>

<p-dialog
  header="Add Member"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="memcard">
    <p-table
      [value]="memTask"
      [scrollable]="true"
      scrollHeight="250px"
      [tableStyle]="{ 'min-width': '5rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.role }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="addbtn"><button class="add">Add</button></div>
</p-dialog>
