<div class="container">
  <p class="administration">Administration</p>
  <div class="project">
    <div class="bar">Projects</div>
    <div class="listservice">
      <div class="service">
        <img src="../../../../assets/svgs/projectlogo.svg" alt="" />
        <p>Projects</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/projectlogo.svg" alt="" />
        <p>Project template</p>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="bar">Tasks</div>
    <div class="listservice">
      <div class="service">
        <img src="../../../../assets/svgs/tracker.svg" alt="" />
        <p>Trackers</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/status.svg" alt="" />
        <p>Task Statuses</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/overflow.svg" alt="" />
        <p>Workflow</p>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="bar">Users</div>
    <div class="listservice">
      <div class="service">
        <img src="../../../../assets/svgs/user.svg" alt="" />
        <p>Users</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/group.svg" alt="" />
        <p>Groups</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/type.svg" alt="" />
        <p>User types</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/invite.svg" alt="" />
        <p>Invite</p>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="bar">Settings</div>
    <div class="listservice">
      <div class="service">
        <img src="../../../../assets/svgs/template.svg" alt="" />
        <p>Templates</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/customfield.svg" alt="" />
        <p>Custom field</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/categories.svg" alt="" />
        <p>Categories</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/filter.svg" alt="" />
        <p>Fillters</p>
      </div>
      <div class="service">
        <img src="../../../../assets/svgs/setting.svg" alt="" />
        <p>Setting</p>
      </div>
    </div>
  </div>
</div>
