:host ::ng-deep {
    .container {
        padding: 20px;
        color: var(--text-dark);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .name {
        color: var(--text-dark);
        font-size: 28px;
        font-style: normal;
        font-weight: var(--font-weight-medium);
    }

    .description {
        padding-left: 20px;
        max-width: 50%;
        word-wrap: break-word;
        font-size: var(--font-size-heading-3);
    }

    .information {
        margin-top: 10px;
        width: 60%;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
    }

    .part {
        display: flex;
    }

    .property {
        width: 140px;
    }

    .content {
        width: 180px;
    }

    .status {
        color: var(--primary);
        padding: 2px 6px;
        width: fit-content;
        border-radius: var(--border-radius);
    }

    .bar {
        margin-top: 40px;
        display: flex;
        width: 100%;
        align-items: center;
        font-size: 22px;
    }

    .bar::after {
        display: flex;
        content: "";
        flex-grow: 1;
        height: 1px;
        margin-left: 10px;
        background-color: black;
    }

    .fileinfo {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    //history
    .history {
        display: grid;
        height: min-content;
    }

    .form {
        box-sizing: border-box;

        border-radius: 8px;
        margin: 0 8px;
        min-height: 2.25rem;
        font-size: var(--font-size-heading-3);
        border: 1px solid #e5e5ea;


        &>.updated {
            border-radius: 8px 8px 0 0;
            background-color: #e7e5e5;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: space-between;
        }

        &>.changed {
            padding: 0.5rem 1rem;
            border-radius: 0 0 8px 8px;


        }
    }


}