<div *ngFor="let task of tasks">
  <div class="container" *ngIf="this.task.name == 'Fix bug'">
    <div class="title">
      <div class="name">{{ task.name }}</div>
    </div>
    <div class="description">{{ task.description }}</div>
    <div class="information">
      <div class="part">
        <div class="property">Piority:</div>
        <div class="content">{{ task.piority }}</div>
      </div>
      <div class="part">
        <div class="property">Status:</div>
        <div class="content">
          <div
            class="status"
            [style.background-color]="
              'var(--' + getValueColor(task.status) + ')'
            "
          >
            {{ getValue(task.status) }}
          </div>
        </div>
      </div>
      <div class="part">
        <div class="property">Tracker:</div>
        <div class="content">{{ task.tracker }}</div>
      </div>
      <div class="part">
        <div class="property">Assignee:</div>
        <div class="content">{{ task.assignee }}</div>
      </div>
      <div class="part">
        <div class="property">Start Date:</div>
        <div class="content">{{ task.startDate }}</div>
      </div>
      <div class="part">
        <div class="property">Due Date:</div>
        <div class="content">{{ task.dueDate }}</div>
      </div>
      <div class="part">
        <div class="property">Duration:</div>
        <div class="content">{{ task.duration }} h</div>
      </div>
      <div class="part">
        <div class="property">Estimate:</div>
        <div class="content">{{ task.estimatedTime }} d</div>
      </div>
      <div class="part">
        <div class="property">Tags:</div>
        <div class="content">{{ task.tag }}</div>
      </div>
    </div>
    <div class="line">
      <div class="bar">File</div>
    </div>
    <div class="fileinfo">
      <div class="filename">Logo.png</div>
      <div class="size">(500KB)</div>
      <div class="timeupload">17/05/2023</div>
    </div>
    <div class="line">
      <div class="bar">History</div>
    </div>
    <div class="history">
      <div class="form">
        <div class="updated">
          <div>Updated by Who</div>
          <div><i class="pi pi-ellipsis-h"></i></div>
        </div>
        <div class="changed"><li>Tracker Changed from what to what</li></div>
      </div>
    </div>
  </div>
</div>
