aside {
  height: 100%;
  width: var(--width-sidebar);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

aside:hover {
  width: var(--width-sidebar-mini);
}

aside:hover ~ header {
  width: calc(100% - var(--width-sidebar-mini));
  transition: var(--tran-02);
}

aside::after ~ main {
  // margin-left: calc(100% - var(--width-sidebar-mini));
  transition: var(--tran-02);
}

header {
  width: calc(100% - var(--width-sidebar));
  height: var(--height-header);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: var(--tran-02);
}

main{
  margin-top: var(--height-header);
  // margin-left: calc(100% - var(--width-sidebar-mini));
  transition: var(--tran-02);
}

// .tool-box {
//   bottom: -20%;
//   right: 5%;
//   position: fixed;
//   display: flex;
//   flex-direction: column-reverse;
// }
