
<div class="container">
  <div class="title">
    <div class="fontnum">
      <div class="fontlist">Task List</div>
      <div class="numberlist">(20)</div>
    </div>
  </div>
  <div class="btncontainer">
    <div class="search">
      <div id="searchBar">
        <i class="pi pi-search"></i>
        <input type="text" />
        <button class="searchBttn">Search</button>
      </div>
    </div>
    <div class="btn">
      <div class="option">
        <button class="optionbtn opt">
          <i class="pi pi-cog"></i>
          Option
        </button>
      </div>
      <div class="option">
        <button class="optionbtn filter">
          <i class="pi pi-filter"></i>
          Filter
        </button>
      </div>

      <div class="add">
        <button class="addbtn" (click)="navigateToCreteTask()">
          <i class="pi pi-plus"></i>
          Add Task
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <p-table [value]="tasks" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Project</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Estimated Time</th>
          <th style="width: 10%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td class="nametask" (click)="openDialog(task)">{{ task.subject }}</td>
          <td>{{ task.project.name }}</td>
          <td>
            <p-tag
              [value]="getValue(task.status.name)"
              [severity]="getValueColor(task.status.name)"
              class="status"
            ></p-tag>
          </td>
          <td>{{ task.due_date }}</td>
          <td>{{ task.estimated_hours }} h</td>
          <td style="width: 11%">
            <i
              class="pi pi-pencil"
              [style]="{ 'margin-right': '20px' }"
              (click)="openEdit(task)"
            ></i
            ><i class="pi pi-trash" (click)="deleteTask(task.id)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [header]="detailTask.subject"
>
  <div class="dialog">
    <div class="container">
      <div class="formdetail">
        <div class="information">
          <div class="part">
            <div class="property">Piority:</div>
            <div class="content">{{ detailTask.priority.name}}</div>
          </div>
          <div class="part">
            <div class="property">Status:</div>
            <div class="content">
              <div
                class="status"
                [style.background-color]="
                  'var(--' + getStatusColor(detailTask.status.name) + ')'">
                {{ getValue(detailTask.status.name) }}
              </div>
            </div>
          </div>
          <div class="part">
            <div class="property">Tracker:</div>
            <div class="content">{{ detailTask.tracker.name }}</div>
          </div>
          <div class="part">
            <div class="property">Assignee:</div>
            <div class="content">{{ detailTask.assigned_to?.name }}</div>
          </div>
          <div class="part">
            <div class="property">Start Date:</div>
            <div class="content">{{ detailTask.start_date }}</div>
          </div>
          <div class="part">
            <div class="property">Due Date:</div>
            <div class="content">{{ detailTask.due_date }}</div>
          </div>
          <div class="part">
            <div class="property">Duration:</div>
            <div class="content">{{ detailTask.spent_hours }} h</div>
          </div>
          <div class="part">
            <div class="property">Estimate:</div>
            <div class="content">{{ detailTask.estimated_hours }} d</div>
          </div>
        </div>
        <div class="">Description: {{ detailTask.description }}</div>
      </div>
      <div class="formdetail">
        <div class="line">
          <div class="bar">File</div>
        </div>
        <div class="fileinfo" *ngFor="let item of this.detailTask.attachments">
          <div class="filename">{{item.filename}}</div>
          <div class="size">{{item.filesize}}</div>
          <div class="timeupload">{{item.created_on}}</div>
        </div>
      </div>
      <div class="formdetail">
        <div class="line">
          <div class="bar">History</div>
        </div>
        <div class="history">
          <div class="form">
            <div class="updated">
              <div>Updated by Who</div>
            </div>
            <div class="changed">
              <li>Tracker Changed from what to what</li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="edit">
      <button class="editbtn" (click)="createtask()" (click)="openEditDialog()">
        <i class="pi pi-pencil" id="editicon"></i>
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="edit"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  header="Edit Task"
>
  <div class="editdialog" >
    <div class="container">
      <div class="form">
        <div class="left">
          <div class="part inputinfo">
            <div class="row">
              <p class="font">Name</p>
              <input type="text" class="input" [value]="detailTask.subject" />
            </div>
            <div class="row">
              <p class="font">Description</p>
              <textarea
                type="text"
                class="input description"
                [value]="detailTask.description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="part checker">
            <div class="line">
              <div class="bar">Additonal Atribute</div>
            </div>
            <div class="optionatribute">
              <div class="rowoption">
                <p class="fontoption">Piority</p>
                <select id="" class="inputoption select" [value]="detailTask.priority.name">
                  <option value="low">Low</option>
                  <option value="normal">Normal</option>
                  <option value="high">High</option>
                  <option value="urgent" selected>Urgent</option>
                </select>
              </div>
              <div class="rowoption">
                <p class="fontoption">Status</p>
                <select
                  id=""
                  class="inputoption select"
                  [(ngModel)]="detailTask.status"
                >
                  <option value="low">New</option>
                  <option value="normal">In Progress</option>
                  <option value="high">Review</option>
                  <option value="urgent" selected>Done</option>
                </select>
              </div>
              <div class="rowoption">
                <p class="fontoption">Tracker</p>
                <select id="" class="inputoption select" [value]="detailTask.tracker.name">
                  <option value="low">Task</option>
                  <option value="normal">Issue</option>
                  <option value="high">Bug</option>
                </select>
              </div>
              <div class="rowoption">
                <p class="fontoption">Assignee</p>
                <input
                  type="text"
                  class="inputoption"
                  [value]="detailTask.assigned_to?.name"
                />
              </div>
              <div class="rowoption">
                <p class="fontoption">Start Date</p>
                <input
                  type="text"
                  class="inputoption"
                  [value]="detailTask.start_date"
                />
              </div>
              <div class="rowoption">
                <p class="fontoption">Due Date</p>
                <input type="text" class="inputoption" [value]="detailTask.due_date" />
              </div>
              <div class="rowoption">
                <p class="fontoption">Duration</p>
                <input
                  type="text"
                  class="inputoption"
                  [value]="detailTask.spent_hours"
                />
              </div>
              <div class="rowoption">
                <p class="fontoption">Estimate</p>
                <input
                  type="text"
                  class="inputoption"
                  [value]="detailTask.estimated_hours"
                />
              </div>
              <!-- <div class="rowoption">
                <p class="fontoption">Tags</p>
                <input type="text" class="inputoption" [value]="task.tag" />
              </div> -->
            </div>
          </div>
        </div>
        <div class="part member">
          <input type="file" />
        </div>
      </div>
      <div class="create">
        <div>
          <button class="createbtn">Create</button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>


<div *ngIf="isLoading">
  <app-animation-loading></app-animation-loading>
</div>
