:host ::ng-deep {
  .navBar {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    // box-shadow: 0px 4px 4px 0px var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
    z-index: 999;

    .searchBtton {
      background-color: var(--primary);

      padding: 10px;
      border: none;
    }

    #searchBar {
      border: 1px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: var(--border-radius);
      width: 300px;
      height: 2rem;
      padding-right: 3px;
      padding-left: 10px;

      i {
        display: flex;
        align-items: center;
        border: none;
        outline: none;

        background-color: transparent;
        border: hidden;
        margin-right: 5px;
      }

      input {
        width: 80%;
        height: 100%;
        border: white;
        outline: none;
        font-size: 1rem;
        margin-right: 5px;
      }

      input:active,
      input:focus {
        outline: none;
        border: none;
      }

      button {
        background-color: var(--secondary);
        display: flex;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        color: var(--primary);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        border-radius: var(--border-radius);
      }
    }

    .notice {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      border-radius: 50%;

      &:active {
        background-color: var(--primary-dark);

        i {
          color: var(--primary);
        }
      }
    }

  }

  .menu {
    position: absolute;
    top: 50px;
    right: 7px;
    background-color: var(--secondary-light);
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius);
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

    &>::before {
      content: '';
      position: absolute;
      display: block;
      top: -5.5px;
      right: 8px;
      width: 10px;
      height: 10px;
      background-color: var(--secondary-light);
      transform: rotate(45deg);
      border-left: 2px solid var(--secondary);
      border-top: 2px solid var(--secondary);
    }
  }

  .menu.active {
    visibility: visible;
    opacity: 1;
  }

  .btn {
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--secondary-dark);
    color: var(--primary);

  }
}