<div class="navBar">
  <div id="searchBar">
    <i class="pi pi-search"></i>
    <input type="text" />
    <button class="searchBttn">Search</button>
  </div>
  <div class="notice">
    <i class="pi pi-bell" pBadge style="font-size: 1.2rem" severity="danger"></i>
  </div>
  <div class="" (click)="menuToggle()">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
    shape="circle" *ngIf="this.avatar==''"></p-avatar>
    <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle" *ngIf="this.avatar!==''">
    </p-avatar>
  </div>
</div>
<div class="menu">
  <div class="btn profile" (click)="gotToPageProfile()" >My profile</div>
  <div class="btn" (click)="logOut()">Log out</div>
</div>
