<div class="navBar">
<div id="searchBar" >
  <span class="pi pi-search"></span>
  <input type="text"/>
  <button class="searchBttn">Search</button>
</div>
  <div id="searchBar">
    <i class="pi pi-search"></i>
    <input type="text" />
    <button class="searchBttn">Search</button>
  </div>
  <div class="notice">
    <span class="pi pi-bell"></span>
  <div id="searchBar">
    <i class="pi pi-search"></i>
    <input type="text" />
    <button class="searchBttn">Search</button>
  </div>
  <div class="notice">
    <i
      class="pi pi-bell"
      pBadge
      style="font-size: 1.2rem"
      severity="danger"
    ></i>
  </div>
  <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
</div>
