<div class="container">
    <div class="rightSide">
        <div class="upper"></div>
        <div class="lower">
            <div class="contents">
                <div class="taskCounter">
                    
                    <div class="inProcessTasks">
                        <div class="inProcessTasksHeader">
                            <div class="title"><p>In process task</p></div>
                            <button><span class="pi pi-ellipsis-h"></span></button>
                        </div>
                        <div class="inProcessTasksBody">
                            <div class="icon"><span class="pi pi-inbox"></span></div>
                            <div class="text">
                                <h1>600 tasks</h1>
                                <span class="lowerTexts">
                                    <h3>95/100</h3>
                                    <p>projects</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="dueTodayTasks">
                        <div class="dueTodayTasksHeader">
                            <div class="title"><p>Due today tasks</p></div>
                            <button><span class="pi pi-ellipsis-h"></span></button>
                        </div>
                        <div class="dueTodayTasksBody">
                            <div class="icon"><span class="pi pi-exclamation-triangle"></span></div>
                            <div class="text">
                                <h1>100 tasks</h1>
                            </div>
                        </div>
                    </div>
                    <div class="passDueTasks">
                        <div class="passDueTasksHeader">
                            <div class="title"><p>Pass due date tasks</p></div>
                            <button><span class="pi pi-ellipsis-h"></span></button>
                        </div>
                        <div class="passDueTasksBody">
                            <div class="icon"><span class="pi pi-times-circle"></span></div>
                            <div class="text">
                                <h1>30 tasks</h1>
                                <span class="lowerTexts">
                                    <p>Your boss is unhappy!!!</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="completedTasks">
                        <div class="completedTasksHeader">
                            <div class="title"><p>Completed tasks</p></div>
                            <button><span class="pi pi-ellipsis-h"></span></button>
                        </div>
                        <div class="completedTasksBody">
                            <div class="icon"><span class="pi pi-check-circle"></span></div>
                            <div class="text">
                                <h1>3 tasks</h1>
                                <span class="lowerTexts">
                                    <p>Well done!!!</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="taskTasks">
                    <div class="leftBox">
                        <div class="card card-container flex justify-content-center align-items-center">
                            <div pRipple class="card styled-box-green shadow-2">Green</div>
                            <div pRipple class="card styled-box-orange shadow-2">Orange</div>
                            <div pRipple class="card styled-box-purple shadow-2">Purple</div>
                        </div>
                    </div>
                    <div class="rightBox"></div>
                </div>
                <div class="summary"></div>
                <div class="thatOneButton"></div>
            </div>
        </div>
    </div>
    <div class="leftSide"></div>
</div>

