<div class="container">
  <p class="new">New Project</p>
  <div class="form">
    <div class="left">
      <div class="part inputinfo" [formGroup]="newProject">
        <div class="row">
          <p class="font">Name</p>
          <input type="text" class="input" formControlName="name" />
        </div>
        <div class="row">
          <p class="font">Subject of</p>
          <input type="text" class="input" />
        </div>
        <div class="row">
          <p class="font">Description</p>
          <textarea
            type="text"
            class="input description"
            formControlName="description"
          ></textarea>
        </div>
        <div class="row">
          <p class="font">Project Manger</p>
          <input type="text" class="input" formControlName="projectManager" />
        </div>
        <div class="row">
          <p class="font">Project Owner</p>
          <input type="text" class="input" formControlName="projectOwner" />
        </div>

        <div class="row public">
          <p class="font">Public</p>
          <div class="public flex justify-content-center">
            <p-checkbox
              [binary]="true"
              [value]="public"
              inputId="binary"
              formControlName="public"
            ></p-checkbox>
          </div>
        </div>
      </div>
      <div class="part member">
        <div class="buttonmem">
          <button (click)="showDialog()">
            <i class="pi pi-plus"></i> Add Member
          </button>
          <button class="delete">Delete</button>
        </div>
        <div class="card">
          <p-table
            [value]="selectedMem"
            [scrollable]="true"
            scrollHeight="250px"
            [tableStyle]="{ 'min-width': '5rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>Name</th>
                <th>Role</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>
                  <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.role }}</td>
                <td [style]=""><i class="pi pi-trash"></i></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="part checker">
        <!-- <div class="line">
          <div class="bar">Project Custom Field</div>
        </div>
        <div class="checkbox">
          <div class="rowcheck">
            <div class="check" *ngFor="let item of projectCustomFields">
              <div class="field-checkbox">
                <p-checkbox
                  name="group"
                  [binary]="true"
                  [(ngModel)]="item.check"
                  [inputId]="item.key"
                ></p-checkbox>
                <label [for]="item.key">{{ item.title }}</label>
              </div>
            </div>
          </div>
        </div> -->
        <div class="line">
          <div class="bar">Modules</div>
        </div>
        <div class="checkbox">
          <div class="rowcheck">
            <div class="check" *ngFor="let item of modulesChecked">
              <div class="field-checkbox">
                <p-checkbox
                  name="group"
                  [value]="item.key"
                  [(ngModel)]="selectedModule"
                  [inputId]="item.key"
                ></p-checkbox>
                <label [for]="item.key">{{ item.title }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="bar">Trackers</div>
        </div>
        <div class="checkbox">
          <div class="rowcheck">
            <div class="check" *ngFor="let item of trackerChecked">
              <div class="field-checkbox">
                <p-checkbox
                  name="group"
                  [value]="item.key"
                  [(ngModel)]="selectedTracker"
                  [inputId]="item.key"
                ></p-checkbox>
                <label [for]="item.key">{{ item.title }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="create">
    <div>
      <button class="createbtn" (click)="createNewProject()">Create</button>
    </div>
    <div>
      <button class="cancelbtn" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>

<p-dialog
  header="Add Member"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="memcard">
    <p-table
      [value]="memProject"
      [scrollable]="true"
      scrollHeight="250px"
      [tableStyle]="{ 'min-width': '5rem' }"
      [(selection)]="selectedMem"
    >
      <ng-template pTemplate="header">
        <tr>
          <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.role }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="addbtn">
    <button class="add" (click)="addMember()">Add</button>
  </div>
</p-dialog>
